(function() {
  "use strict";
  var callPhantom = window.callPhantom;
  var tests;

  /**
   * `window.callPhantom` is used as the control flow communication channel
   * between the document and the PhantomJS context (where available). Because
   * of this, it should not be available to other scripts on the page.
   */
  window.callPhantom = null;

  tests = {
    {{ INJECT_TEST_INCLUDES }}
  };

  mocha.ui('exports');
  mocha.suite.emit('require', tests, 'fdso', mocha)

  function runHeadless() {
    mocha.run(function(failureCount) {
      callPhantom(failureCount || null);
    });
  }

  function runHeadful() {
    mocha.run(function() {
      console.log('done', arguments);
    });
  }

  if (/PhantomJS/.test(navigator.userAgent)) {
    runHeadless();
  } else {
    runHeadful();
  }
}());
